#namediv{
    width: 100%;
    height: auto;
}

#namediv > h1{
    margin: 0;
}

#namediv h1 > span{
    color: var(--primary);
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}
#namediv ._typewriter{
    margin: 0;
}

.dark-background >  *{
    background-color: var(--darkbackground);
    color: var(--text);
    border: 50px solid var(--darkbackground);
    border-radius: 15px;
    width: 100%;
    text-align: left;
}

.primary-color > i{
    color: var(--primary);
}

._separator{
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 60rem;
    border-color: var(--secondary);
}