#abmh{
    margin-right: 70%;
}

#_abmt > *{
    padding: 5px;
    margin-left: 20px;
    background-color: var(--darkbackground);
    color: var(--text);
    border: 50px solid var(--darkbackground);
    border-radius: 15px;
    display: block;
    width: 100%;
    text-align: left;
}

#_abml{
    text-decoration: none;
    background-color: var(--darkbackground);
    color: var(--primary);
}

#_abmi{
    width: 10rem;
    height: 10rem;
}

