* {
    font-family: 'Trirong', serif;
    background-color: var(--background);
    color: var(--text);
    box-sizing: border-box;
}

:root{
    --primary: #FF6000;
    --secondary: #FFA559;
    --text: #FFF;
    --background: #121212;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}