* {
    font-family: 'Trirong', serif;
    background-color: var(--background);
    color: var(--text);
    box-sizing: border-box;
}

:root{
    --primary: #FF6000;
    --secondary: #454545;
    --text: #FFF;
    --background: #121212;
    --darkbackground: #070707;

    --basic: 25%;
    --basic-medium: 45%;
    --medium: 60%;
    --medium-advanced: 75%;
    --advanced: 80%;
    --master: 90%;
    --god: 100%;
}

.primary-color{
    color: var(--primary);
}
.secondary-color{
    color: var(--secondary);
}
.primary{
    background-color: var(--primary);
}

.secondary{
    background-color: var(--secondary);
}

.darkblue{
    background-color: #0E2954;
    color: #0E2954;
}

.blue{
    background-color: #0079FF;
    color: #0079FF;
}

.green{
    background-color: #42FF83;
    color: #42FF83;
}

.yellow{
    background-color: #F6FA70;
    color: #F6FA70;
}

.red{
    background-color: #FF0060;
    color: #FF0060;
}

.white{
    background-color: #FFFFFF;
    color: #FFFFFF;
}

.mysql{
    background-color: #00758F;
    color: #00758F;
}

.flex{
    display: flex;
    flex-direction: row;
}

.block{
    display: block;
}

.container > *{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}