.typewriter{
    width: auto;
    height: 100px;
}

.typewriter.wrap{
    overflow: hidden;
    border-right: 0.15em solid orange;
    padding: 50px;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

._typewriter{
    margin-top: -5px;
    color: black;
}

#namediv{
    width: 100%;
    height: 15dvh;
}